<!-- Footer -->
<footer class="page-footer bg-color">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Call to action -->
      <div class="text-center">
          <h5 class="mb-1">Pas encore inscrit? Rejoignez-nous !</h5>
          <a href="#!" class="btn btn-outline-danger">S'enregistrer!</a>
      </div>
      <!-- Call to action -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Made with <i class="fa fa-heart"></i> by <a href="https://cvtic.unilim.fr/user/profile.php?id=2222">NH </a> powered by <a href="https://getbootstrap.com">Bootstrap </a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->