<app-layout>
 <div class="card-deck">
  <div class="card mb-4">
    <img class="card-img-top img-fluid" src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1iqk.jpg" alt="Card image  ">
    <div class="card-body">
      <h5 class="card-title">Endless Legend : Symbiosis</h5>
      <p class="card-text more">Endless Legend – Symbiosis brings forth new colossal beasts called Urkans as well as a brand-new faction: The Mykara.</p>
    </div>
    <div class="card-footer">
       <a href="https://www.igdb.com/games/endless-legend-symbiosis" class="btn btn-primary">Voir le jeu</a>
          <a href="https://www.igdb.com/games/endless-legend-symbiosis" class="btn btn-primary">Noter le jeu</a>
    </div>
  </div>
  <div class="card mb-4">
    <img class="card-img-top img-fluid" src=" https://images.igdb.com/igdb/image/upload/t_cover_big/heeuusaedvtwgsb0hbxe.jpg" alt="Card image  ">
    <div class="card-body">
      <h5 class="card-title">Shadow of the Tomb Raider</h5>
      <p class="card-text more">As Lara Croft races to save the world from a Maya apocalypse, she must become the Tomb Raider she is destined to be.</p>
    </div>
    <div class="card-footer">
        <a href="https://www.igdb.com/games/shadow-of-the-tomb-raider" class="btn btn-primary" >Voir le jeu</a>
          <a href="https://www.igdb.com/games/shadow-of-the-tomb-raider" class="btn btn-primary">Noter le jeu</a>
    </div>
  </div>
   <div class="card mb-4">
    <img class="card-img-top img-fluid" src=" https://images.igdb.com/igdb/image/upload/t_cover_big/co1it2.jpg" alt="Card image  ">
    <div class="card-body">
      <h5 class="card-title">Anthem</h5>
      <p class="card-text more">Anthem is a shared-world action RPG, where players can delve into a vast landscape teeming with amazing technology and forgotten treasures. This is a world where Freelancers are called upon to defeat savage beasts, ruthless marauders, and forces plotting to conquer humanity.</p>
    </div>
    <div class="card-footer">
       <a href="https://www.igdb.com/games/anthem" class="btn btn-primary">Voir le jeu</a>
        <a href="https://www.igdb.com/games/anthem" class="btn btn-primary">Noter le jeu</a>
    </div>
  </div>
  <div class="card mb-4">
    <img class="card-img-top img-fluid" src=" https://images.igdb.com/igdb/image/upload/t_cover_big/co1izz.jpg" alt="Card image  ">
    <div class="card-body">
      <h5 class="card-title">Days Gone</h5>
      <p class="card-text more">Days Gone is an open-world action-adventure game set in a harsh wilderness two years after a devastating global pandemic. Play as Deacon St. John, a Drifter and bounty hunter who rides the broken road, fighting to survive while searching for a reason to live.

At its core, Days Gone is about survivors and what makes them human: desperation, loss, madness, betrayal, friendship, brotherhood, regret, love – and hope. It’s about how even when confronted with such enormous tragedy they find a reason to live. Hope never dies.</p>
    </div>
    <div class="card-footer">
      <a href="https://www.igdb.com/games/days-gone" class="btn btn-primary">Voir le jeu</a>
        <a href="https://www.igdb.com/games/days-gone" class="btn btn-primary">Noter le jeu</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top img-fluid" src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1idu.jpg" alt="Card image  ">
    <div class="card-body">
      <h5 class="card-title">MechWarrior 5: Mercenaries</h5>
      <p class="card-text more">In MechWarrior 5: Mercenaries you will adopt the role of a rookie MechWarrior pilot thrust into combat as the Third Succession War continues to fracture the Inner Sphere. Take contracts from the factions of your choosing and engage in tactical, first-person, PvE ‘Mech combat through an immersive, career-based Mercenary campaign driven by player choice. Victory, prestige, and profit will not only require skill on the battlefield, but in the acquisition, maintenance, and enhancement of your BattleMechs. </p>
    </div>
    <div class="card-footer">
       <a href="https://www.igdb.com/games/mechwarrior-5-mercenaries" class="btn btn-primary">Voir le jeu</a>
          <a href="https://www.igdb.com/games/mechwarrior-5-mercenaries" class="btn btn-primary">Noter le jeu</a>
    </div>
  </div>
   <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
        <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 4 on lg--></div>
  <div class="card">
    <img class="card-img-top img-fluid" src=" https://images.igdb.com/igdb/image/upload/t_cover_big/rmzcpsfvnizymkhvd0qg.jpg" alt="Card image  ">
    <div class="card-body">
      <h5 class="card-title">Star Control: Origins</h5>
      <p class="card-text more">The Earthlings have joined the interstellar club. The galaxy will never be the same.

The year is 2086 and Earth has detected an alien distress call originating from the surface of Triton. In response, Star Control is formed with you as The Captain of Earth's first prototype starship.</p>
    </div>
    <div class="card-footer">
        <a href="https://www.igdb.com/games/star-control-origins" class="btn btn-primary" >Voir le jeu</a>
          <a href="https://www.igdb.com/games/star-control-origins" class="btn btn-primary">Noter le jeu</a>
    </div>
  </div>
   <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
        <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 4 on lg--></div>
   <div class="card">
    <img class="card-img-top img-fluid" src=" https://images.igdb.com/igdb/image/upload/t_cover_big/sp662qse8bpmgze51fve.jpg" alt="Card image  ">
    <div class="card-body">
      <h5 class="card-title">Shadow of War</h5>
      <p class="card-text more">Middle-earth: Shadow of War Definitive Edition, the most comprehensive version of last year’s epic open world action game,

Developed by Monolith Productions, Middle-earth™: Shadow of War™ Definitive Edition includes the main game packaged together with all downloadable content (DLC), free updates and improvements.</p>
    </div>
    <div class="card-footer">
       <a href="https://www.igdb.com/games/middle-earth-shadow-of-war-definitive-edition" class="btn btn-primary">Voir le jeu</a>
        <a href="https://www.igdb.com/games/middle-earth-shadow-of-war-definitive-edition" class="btn btn-primary">Noter le jeu</a>
    </div>
  </div>
   <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
        <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 4 on lg--></div>
  <div class="card">
    <img class="card-img-top img-fluid" src=" https://images.igdb.com/igdb/image/upload/t_cover_big/co1iuj.jpg" alt="Card image  ">
    <div class="card-body">
      <h5 class="card-title">Metro Exodus</h5>
      <p class="card-text more">Metro Exodus is an epic, story-driven first person shooter from 4A Games that blends deadly combat and stealth with exploration and survival horror in one of the most immersive game worlds ever created. Explore the Russian wilderness across vast, non-linear levels and follow a thrilling story-line that spans an entire year through spring, summer and autumn to the depths of nuclear winter. Inspired by the novels of Dmitry Glukhovsky, Metro Exodus continues Artyom’s story in the greatest Metro adventure yet</p>
    </div>
    <div class="card-footer">
      <a href="https://www.igdb.com/games/metro-exodus" class="btn btn-primary">Voir le jeu</a>
        <a href="https://www.igdb.com/games/metro-exodus" class="btn btn-primary">Noter le jeu</a>
    </div>
  </div>
    </div>

</app-layout>