/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.bg-color{
	background-color: #0b335a! important;
}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}